<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="nguyenhoanganhkhoa.com.myapplication">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:ignore="LockedOrientationActivity">
        <activity
            android:name=".home.transfer.TransferResultScreen"
            android:exported="false" />
        <activity
            android:name=".home.transfer.TransferMain2Screen"
            android:exported="false" />
        <activity
            android:name=".home.transfer.AddNewFriendScreen"
            android:exported="false" />
        <activity
            android:name=".home.transfer.AllFriendScreen"
            android:exported="false" />
        <activity
            android:name=".home.transfer.TransferMainScreen"
            android:exported="false" />
        <activity
            android:name=".home.setting.EnterNewPasswordScreen"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.setting.SetNewPasswordScreen"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.setting.LoginSettingScreen"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.helpcenter.ContactSupportScreen"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.helpcenter.HelpCenterDetailScreen"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.transaction.DetailTransaction"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.topup.TopUpMainScreen"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.SecurityCenterScreen"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.setting.SettingScreen"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.helpcenter.HelpCenterScreen"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.NewsScreen"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.OurTeamScreen"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.AboutUsScreen"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.EditInfomationScreen"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.notification.AllNotificationScreen"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.transaction.ShowAllTransactionScreen"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.QRCodeScreen"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.HomePageScreen"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".signup.PersonalInformationSetScreen"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".signup.VerificationSignupScreen"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".signup.EmailScreen"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".signup.SignUpScreen_UserInfo"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".forgotpass.CreateNewPasswordScreen"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".forgotpass.VerificationScreen"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".forgotpass.ResetPasswordScreen"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="nguyenhoanganhkhoa.com.test.MainActivity2"
            android:exported="true" />
        <activity
            android:name=".login.LoginScreen"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.SplashScreen"
            android:exported="true" />
        <activity
            android:name="nguyenhoanganhkhoa.com.test.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat" />
    </application>

</manifest>